{% extends "news/base.html" %}
{% load static %}
{%block content%}
     <section id="home" class="slider" data-stellar-background-ratio="0.5">
          <div class="row">

                    <div class="owl-carousel owl-theme">
                         <div class="item item-first">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-8 col-sm-8">
                                             <h3>Stay updated! Stay safe!</h3>
                                            
                                             <h1>Earthquakes</h1>
                                            
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
          </div>
     </section>      


     <!-- ABOUT -->
     <section id="about" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="about-info">
                              <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
                                   <h3>How to Prepare for an Earthquake:</h3>
                                   <h2>BEFORE AN EARTHQUAKE : PREPARE</h2>
                              </div>

                              <div class="wow fadeInUp" data-wow-delay="0.4s">
                                   <h3 style="font-weight: 100;"><ul>
                                       <li>Take action if you know an earthquake is going to hit before strikes</li>
                                       <li>Secure items that might fall and cause injuries (e.g., bookshelves, mirrors, light fixtures).</li>
                                       <li>Practice how to Drop, Cover, and Hold On</li>
                                       <li>Store critical supplies and documents.</li> 
                                       <li>Plan how you will communicate with family members.</li> 
                                   </ul></h3>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="wow fadeInUp about-image" data-wow-delay="0.6s">
                              <img src="{% static 'images/precautions/earth_pre1.jpg' %} " class="img-responsive" alt="">
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>   
     
     
     <!-- ABOUT -->
     <section id="about" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="about-info">
                              <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
                                   <h4>How to Prepare for an Earthquake:</h4>
                                   <h2>DURING AN EARTHQUAKE: SURVIVE</h2>
                              </div>

                              <div class="wow fadeInUp" data-wow-delay="0.4s">
                                   <h3 style="font-weight: 100;"><ul>
                                       <li>As soon as you feel the shaking,</li>
                                       <li>DROP down onto your hands and knees so the earthquake doesn’t knock you down.</li>
                                       <li>COVER your head and neck with your arms to protect yourself from falling debris.</li>
                                       <li>If you are in danger from falling objects, and you can move safely, crawl to a safer place or seek cover (e.g., under a desk or table).</li>  
                                       <li>HOLD ON to any sturdy covering so you can move with it until the shaking stops.</li>
                                   </ul></h3>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="wow fadeInUp about-image" data-wow-delay="0.6s">
                              <img src="{% static 'images/precautions/earth_pre2.jpg' %} " class="img-responsive" alt="">
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>


    <!-- ABOUT -->
     <section id="about" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="about-info">
                              <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
                                   <h4>How to Prepare for an Earthquake:</h4>
                                   <h2>AFTER AN EARTHQUAKE: RECOVER</h2>
                              </div>

                              <div class="wow fadeInUp" data-wow-delay="0.4s">
                                  <h3 style="font-weight: 100;"><ul>
                                       <li>When the shaking stops, before you move, look around for things that might fall or for dangerous debris on the ground. </li>
                                       <li>If you are in a damaged building and there is a safe way out through the debris, leave and go to an open space outside, away from damaged areas.</li>
                                       <li>If you are trapped, do not move about or kick up dust.</li>  
                                       <li>If you have a cell phone with you, use it to call or text for help.</li>
                                       <li>Tap on a pipe or wall or use a whistle, if you have one, so that rescuers can locate you.</li>
                                       <li>Once safe, monitor local news reports (e.g., radio, TV, social media, and cell phone text alerts), for emergency information and instructions.</li>
                                   </ul></h3>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="wow fadeInUp about-image" data-wow-delay="0.6s">
                              <img src="{% static 'images/precautions/earth_pre3.jpg' %} " class="img-responsive" alt="">
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>
    

{%endblock%}