{% extends "news/base.html" %}
{% load static %}
{% block content %}
  <section id="home" class="slider" data-stellar-background-ratio="0.5">
          <div class="row">

                    <div class="owl-carousel owl-theme">
                         <div class="item item-first">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-8 col-sm-8">
                                             <h3>Stay updated! Stay safe!</h3>
                                            
                                             <h1>Floods</h1>
                                            
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
          </div>
     </section>      


     <!-- ABOUT -->
     <section id="about" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="about-info">
                              <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
                                   <h3>How to prepare for floods:</h3>
                                   <h2>BEFORE A FLOOD: PREPARE</h2>
                              </div>

                              <div class="wow fadeInUp" data-wow-delay="0.4s">
                                   <h3 style="font-weight: 100;"><ul>
                                       <li>Learn and prepare for evacuation, shelter plans and flash flood response.</li>
                                       <li>Build an emergency supply kit in case you have to leave immediately or if services are cut off.</li>
                                       <li>Keep important documents in a waterproof container. Create password-protected digital copies.</li>
                                       <li>Protect your property. Move valuables to higher levels. Declutter drains and gutters. Install check valves. Consider a sump pump with a battery.</li>  
                                   </ul></h3>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="wow fadeInUp about-image" data-wow-delay="0.6s">
                              <img src="{%static 'news/images/precautions/flood_pre1.jpg'%}" class="img-responsive" alt="">
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>   
     
     
     <!-- ABOUT -->
     <section id="about" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="about-info">
                              <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
                                   <h4>How to prepare for floods:</h4>
                                   <h2>DURING A FLOOD: SURVIVE</h2>
                              </div>

                              <div class="wow fadeInUp" data-wow-delay="0.4s">
                                   <h3 style="font-weight: 100;"><ul>
                                       <li>Go to the safe location you previously identified.</li>
                                       <li>If told to evacuate, do so immediately. Never drive around barricades. Local responders use them to safely direct traffic out of flooded areas.</li>
                                       <li>Listen to the radio for current emergency information and instructions.</li>
                                       <li>Do not walk, swim or drive through flood waters. Turn Around. Don’t Drown!</li>  
                                       <li>Stay off bridges over fast-moving water. Fast-moving water can wash bridges away without warning.</li>
                                       <li>If your car is trapped in rapidly moving water stay inside. If water is rising inside the car get on the roof.</li>
                                       <li>If trapped in a building go to its highest level. Do not climb into a closed attic. You may become trapped by rising flood water. Only get on the roof if necessary and once there signal for help.</li>
                                   </ul></h3>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="wow fadeInUp about-image" data-wow-delay="0.6s">
                              <img src="{%static 'news/images/precautions/flood_pre2.jpg'%}" class="img-responsive" alt="">
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>


    <!-- ABOUT -->
     <section id="about" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="about-info">
                              <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
                                   <h4>How to prepare for floods:</h4>
                                   <h2>AFTER A FLOOD: BE SAFE</h2>
                              </div>

                              <div class="wow fadeInUp" data-wow-delay="0.4s">
                                  <h3 style="font-weight: 100;"><ul>
                                       <li>Listen to authorities for information and instructions. Return home only when authorities say it is safe.</li>
                                       <li>Avoid driving except in emergencies.</li>
                                       <li>Snakes and other animals may be in your house. Wear heavy gloves and boots during clean up.</li>
                                       <li>Be aware of the risk of electrocution. Do not touch electrical equipment if it is wet or if you are standing in water. If it is safe to do so, turn off the electricity to prevent electric shock.</li>  
                                       <li>Avoid walking in flood water, which can be contaminated and contain dangerous debris. Underground or downed power lines can also electrically charge the water.</li>
                                       <li>Use a generator or other gasoline-powered machinery ONLY outdoors and away from windows.</li>
                                   </ul></h3>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="wow fadeInUp about-image" data-wow-delay="0.6s">
                              <img src="{%static 'news/images/precautions/flood_pre3.jpg'%}" class="img-responsive" alt="">
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>

{% endblock content %}%}